@import url(https://fonts.googleapis.com/css?family=Lato:700italic,400,400italic,700);
/* CSS Button */
.flex-container{
	display:flex;
	margin-top: 10px
}
.flex-container a {
	flex: 1 1 0px;
	text-align: center;
}

.flex-container a:not(:first-child){
	margin-left:5px;
}
.butt {
	font-size: .825em;
	text-decoration: none;
	font-weight: 700;
	padding: .35em 1em;
	background-color: #eaeef1;
	background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.1));
	border-radius: 3px;
	color: rgba(0,0,0,.6);
	text-shadow: 0 1px 1px rgba(255,255,255,.7);
	box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.2), inset 0 1px 2px rgba(255,255,255,.7);
}

.butt:hover, .butt.hover {
	background-color: #fff;
}

.butt:active, .butt.active {
	background-color: #d0d3d6;
	background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,0));
	box-shadow: inset 0 0 2px rgba(0,0,0,.2), inset 0 2px 5px rgba(0,0,0,.2), 0 1px rgba(255,255,255,.2);
}